<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--RabbitMQ配置信息-->
  <add key="RabbitMQClient_Host" value="192.168.1.120"/>
  <add key="RabbitMQClient_Port" value="5672"/>
  <add key="RabbitMQClient_VirtualHost" value="/tms"/>
  <add key="RabbitMQClient_Username" value="user_tms"/>
  <add key="RabbitMQClient_Password" value="123456"/>
</appSettings>